In [1]:
# 1 - Importamos librerías a utilizar durante el MVP
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
import json as js 
import ast  
import re 
import sys
import os

sys.path.append('/Users/usuario/Documents/DATA_SCIENCE/M7_LABs_Proyectos_individuales/mvp_pi1')
import src.etl as etl 

import src.etl as etl
print(dir( etl ))

# conectar la carpera src (/Users/usuario/Documents/DATA_SCIENCE/M7_LABs_Proyectos_individuales/mvp_pi1/src) contenida en la carpeta del proyecto mvp_pi1 (/Users/usuario/Documents/DATA_SCIENCE/M7_LABs_Proyectos_individuales/mvp_pi1) que contiene a etl.py y api.py
sys.path.insert(1, '/Users/usuario/Documents/DATA_SCIENCE/M7_LABs_Proyectos_individuales/mvp_pi1/src')
import etl as etl # 
import api as api # 

import src.api as api
print(dir( api ))

# Cargamos los csv data_movies, data_cast y data_crew
data_movies = pd.read_csv('/Users/usuario/Documents/DATA_SCIENCE/M7_LABs_Proyectos_individuales/mvp_pi1/transformados_processed/data_movies.csv', low_memory=False)
data_cast = pd.read_csv('/Users/usuario/Documents/DATA_SCIENCE/M7_LABs_Proyectos_individuales/mvp_pi1/transformados_processed/data_cast.csv', low_memory=False)
data_crew = pd.read_csv('/Users/usuario/Documents/DATA_SCIENCE/M7_LABs_Proyectos_individuales/mvp_pi1/transformados_processed/data_crew.csv', low_memory=False)

data_movies.head(4)

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'ast', 'convertir_a_estructura', 'convertir_tipos', 'cosine_similarity', 'datetime', 'extraer_campo', 'extraer_campos_json', 'formato_fecha', 'np', 'obtener_campos_json', 'pd', 'validar_df', 'validar_estructura_csv', 'validar_estructura_df', 'validar_tipo']
['DIA_MAP', 'DIA_MAP_INV', 'MES_MAP', 'MES_MAP_INV', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'ast', 'cantidad_filmaciones_dia', 'cantidad_filmaciones_mes', 'cosine_similarity', 'datetime', 'exito_actor', 'exito_director', 'np', 'pd', 'score_titulo', 'votos_titulo']

,movie_id,title,tagline,release_date,release_year,runtime,budget,revenue,genres,production_companies,production_countries,spoken_languages,original_language,overview,popularity,vote_average,vote_count,belongs_to_collection,status,return
0,862,Toy Story,NaN,1995-10-30,1995,81.0,30000000,373554033,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",en,"Led by Woody, Andy's toys live happily in his ...",21.946943,7.7,5415.0,"{'id': 10194, 'name': 'Toy Story Collection', ...",Released,12.45
1,8844,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,1995,104.0,65000000,262797249,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",en,When siblings Judy and Peter discover an encha...,17.015539,6.9,2413.0,NaN,Released,4.04
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,1995-12-22,1995,101.0,0,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",en,A family wedding reignites the ancient feud be...,11.712900,6.5,92.0,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",Released,0.00
3,31357,Waiting to Exhale,Friends are the people who let you be yourself...,1995-12-22,1995,127.0,16000000,81452156,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",en,"Cheated on, mistreated and stepped on, the wom...",3.859495,6.1,34.0,NaN,Released,5.09

In [5]:
import src.etl as etl
print(dir( etl ))
from src.api import cantidad_filmaciones_dia, cantidad_filmaciones_mes
import importlib
importlib.reload(etl)

cant_fil_dia=cantidad_filmaciones_dia("martes",data_movies)
print(cant_fil_dia)
cant_fil_dia=cantidad_filmaciones_dia(1,data_movies)
print(cant_fil_dia)
cant_fil_mes=cantidad_filmaciones_mes("febrero",data_movies)
print(cant_fil_mes)
cant_fil_mes=cantidad_filmaciones_mes(2,data_movies)
print(cant_fil_mes)

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'ast', 'convertir_a_estructura', 'convertir_tipos', 'cosine_similarity', 'datetime', 'extraer_campo', 'extraer_campos_json', 'formato_fecha', 'np', 'obtener_campos_json', 'pd', 'validar_df', 'validar_estructura_csv', 'validar_estructura_df', 'validar_tipo']
4641 película(s) fueron estrenadas en el día Martes.
3503 película(s) fueron estrenadas en el día Lunes.
3032 película(s) fueron estrenadas en el mes de Febrero.
3032 película(s) fueron estrenadas en el mes de Febrero.

In [6]:
import src.etl as etl
print(dir( etl ))
from src.api import score_titulo, votos_titulo
import importlib
importlib.reload(etl)

score_titulo = score_titulo("Moonlight and Valentino",data_movies)
print(score_titulo)
votos_titulo = votos_titulo("Moonlight and Valentino",data_movies)
print(votos_titulo)

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'ast', 'convertir_a_estructura', 'convertir_tipos', 'cosine_similarity', 'datetime', 'extraer_campo', 'extraer_campos_json', 'formato_fecha', 'np', 'obtener_campos_json', 'pd', 'validar_df', 'validar_estructura_csv', 'validar_estructura_df', 'validar_tipo']
La película 'Moonlight and Valentino' fue estrenada en el año 1995 con un score/popularidad de 5.6.
La película 'Moonlight and Valentino' no cumple con la condición de tener al menos 2000 valoraciones.

In [8]:
import src.etl as etl
print(dir( etl ))
from src.api import exito_actor, exito_director
import importlib
importlib.reload(etl)

exito_del_actor = exito_actor("Walter Matthau",data_cast,data_movies)
print(exito_del_actor)
exito_del_director = exito_director("Walter Matthau",data_crew,data_movies)
print(exito_del_director)

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'ast', 'convertir_a_estructura', 'convertir_tipos', 'cosine_similarity', 'datetime', 'extraer_campo', 'extraer_campos_json', 'formato_fecha', 'np', 'obtener_campos_json', 'pd', 'validar_df', 'validar_estructura_csv', 'validar_estructura_df', 'validar_tipo']
El actor 'Walter Matthau' ha participado en 24 filmación(es), consiguiendo un retorno total de 4.40 y un promedio de 0.18 por filmación.
Lista de Peliculas:
- Grumpier Old Men (Fecha: 1995-12-22), Retorno: 0.00, Costo: 0, Ganancia: 0
- I'm Not Rappaport (Fecha: 1996-12-24), Retorno: 0.00, Costo: 0, Ganancia: 0
- The Taking of Pelham One Two Three (Fecha: 1974-10-02), Retorno: 0.00, Costo: 0, Ganancia: 0
- The Bad News Bears (Fecha: 1976-04-07), Retorno: 1.01, Costo: 35000000, Ganancia: 35323292
- Hopscotch (Fecha: 1980-09-26), Retorno: 0.00, Costo: 0, Ganancia: 0
- Cactus Flower (Fecha: 1969-12-16), Retorno: 0.00, Costo: 0, Ganancia: 0
- First Monday in October (Fecha: 1981-08-21), Retorno: 0.00, Costo: 0, Ganancia: 0
- Dennis the Menace (Fecha: 1993-06-23), Retorno: 3.35, Costo: 35000000, Ganancia: 117270765
- Plaza Suite (Fecha: 1971-05-12), Retorno: 0.00, Costo: 0, Ganancia: 0
- The Sunshine Boys (Fecha: 1975-11-06), Retorno: 0.00, Costo: 0, Ganancia: 0
- Kotch (Fecha: 1971-09-17), Retorno: 0.00, Costo: 0, Ganancia: 0
- A New Leaf (Fecha: 1971-03-11), Retorno: 0.00, Costo: 0, Ganancia: 0
- Charley Varrick (Fecha: 1973-09-19), Retorno: 0.00, Costo: 0, Ganancia: 0
- Little Miss Marker (Fecha: 1980-03-21), Retorno: 0.00, Costo: 0, Ganancia: 6321392
- The Laughing Policeman (Fecha: 1973-12-20), Retorno: 0.00, Costo: 0, Ganancia: 0
- Pirates (Fecha: 1986-05-08), Retorno: 0.04, Costo: 40000000, Ganancia: 1641825
- A Guide for the Married Man (Fecha: 1967-01-01), Retorno: 0.00, Costo: 0, Ganancia: 0
- Pete 'n' Tillie (Fecha: 1972-12-17), Retorno: 0.00, Costo: 0, Ganancia: 0
- Movers & Shakers (Fecha: 1985-05-03), Retorno: 0.00, Costo: 0, Ganancia: 0
- The Incident (Fecha: 1990-03-04), Retorno: 0.00, Costo: 0, Ganancia: 0
- I Ought to Be in Pictures (Fecha: 1982-03-26), Retorno: 0.00, Costo: 0, Ganancia: 0
- The Little Devil (Fecha: 1988-07-01), Retorno: 0.00, Costo: 0, Ganancia: 0
- Gangster Story (Fecha: 1959-12-01), Retorno: 0.00, Costo: 75000, Ganancia: 0
- House Calls (Fecha: 1978-03-15), Retorno: 0.00, Costo: 0, Ganancia: 28460702
Director: Walter Matthau
Películas:
- Gangster Story (Fecha: 1959-12-01), Retorno: 0.00, Costo: 75000, Ganancia: 0